<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen"
    class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="primary">
      <span>Contacts</span>
    </mat-toolbar>
    <mat-nav-list *ngFor="let user of users | async">
      <mat-list-item>
        <a mat-line href="#">
          <mat-icon svgIcon="{{user.avatar}}"></mat-icon>{{user.name}}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <toolbar (toggleSideNav)="sidenav.toggle()"></toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>