<h2>Add new Contact</h2>
<mat-dialog-content>
    <div [formGroup]="newContactForm" class="new-contact-container">
        <mat-form-field appearance="fill">
            <mat-label>Avatar</mat-label>
            <mat-select placeholder="Avatar" [formControl]="avatar">
                <mat-select-trigger>
                    <mat-icon svgIcon={{avatar.value}}>
                        {{ avatar.value }}
                    </mat-icon> &nbsp; {{ avatar.value }}
                </mat-select-trigger>
                <mat-option *ngFor="let avatar of avatars" value="{{ avatar }}">
                    <mat-icon svgIcon={{avatar}}>
                        {{ avatar }}
                    </mat-icon>
                    {{ avatar }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Name" [formControl]="name" required>
            <mat-error>{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="TextArea" placeholder="Bio" [formControl]="bio">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>Cancel
    </button>
    <button type="submit" [disabled]="newContactForm.invalid" mat-button color='primary' (click)="save()">
        <mat-icon>save</mat-icon>Save
    </button>
</mat-dialog-actions>